#root {
  color: white;
  background-color: black;
  margin: 0;
  a {
    color: white;
    text-decoration: none;
  }
  .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .results {
    padding: 0;
    li {
      
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      h4 {
        margin-right: 2rem;
      }
      .list-avatar {
        margin: 1rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


button {
  margin: 10px;
}

.logo {
  max-width: 250px;
}