#root {
  color: #fafafa;
  background-color: rgb(34, 34, 34);
  margin: 0;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: #fafafa;
  }


  .list-link {
    color: #fafafa;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s;
  }

  .list-link:hover {
    background-color: grey;
    border-radius: 3px;
  }

  .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem 1.5rem;
  }
  .results {
    padding: 0;
    margin-top: 5rem;
    li {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      h4 {
        margin: 3rem 1rem;
      }
      .list-avatar {
        margin: 1rem;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
      }
    }
    .result {
      border-top: 0.5px solid rgba(128, 128, 128, 0.342);
    }
  }
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.content {
  margin: 1.5rem;
}

.container {
  margin: 6rem 0;
}
button {
  margin: 10px;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  background-color: hotpink;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  transition: all 0.2s;
}

button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 105, 180, 0.431);
  cursor: pointer;
}

.logo {
  margin: 1rem auto;
  min-width: 100px;
  max-width: 250px;
  text-align: center;
  transition: all 0.2s;
}
.logo:hover {
  transform: scale(1.1);
}



@media only screen and (min-width: 500px) {
  .content {
    max-width: 80%;
    margin: 3rem;
  }
}

@media only screen and (min-width: 750px) {
  .content {
    max-width: 30%;
    margin: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    max-width: 25%;
    margin: 3rem;
  }
}